* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    /*background-color: rgb(30, 2, 52);*/
    background-image: linear-gradient(to right, rgb(32, 7, 63), rgb(56, 14, 180));
    color: white;
    padding: 10px 0;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite AU QLD";
}

nav ul {
    display: flex;
    gap: 17px;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    font-size: 17px;
    font-family: "Roboto";
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, rgb(159, 246, 192), rgb(152, 121, 245));
    height: 65vh;
    font-family: "Roboto";
}

.hero-left .one{
    font-size: 60px;
    color: rgb(32, 7, 63);
    font-weight: bolder;
}

.hero-left .two {
    font-size: 40px;
    margin-bottom: 30px;
}

.bold {
    font-weight: bold;
}

.hero-right img.photo{
  width: 300px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 15px;
  border: 5px solid rgb(159, 246, 192);
  outline: 5px solid rgb(152, 121, 245);
}

.btn.container {
    padding: 20px ;
}

.btn {
    background-color: blueviolet;
    color: white;
    padding: 7px 9px;
    border: 2px solid blueviolet;
    border-radius: 9px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;

}

.project {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, rgb(138, 42, 186), rgb(15, 232, 164));
}

.pic {
    width: 50vw;
}

.project.info {
    display: flex;
    flex-direction: column;
    bac
}

.text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: Roboto;

}

.buttons {
    margin-left: 95px;
}